.btn {
    background: $clr-grey-2;
    color: $clr-white;
    border-radius: $radius;
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    letter-spacing: $spacing;
    display: inline-block;
    transition: $transition;
    border-color: transparent;
    cursor: pointer;
}

.btn:hover {
    background: $clr-grey-10;
    color: $clr-grey-2;
}