.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 7rem;
    height: 7rem;
    border: 3px solid $clr-grey-1;
    border-top-color: $clr-primary-1;
    border-radius: 50%;
    animation: loader .6s linear infinite;
}