.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.title__text {
    color: $clr-grey-1;
    display: block;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 50%;
        height: 5%;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
        background: $clr-primary-1;
    }
}