.hero {
    min-height: 100vh;
    margin-top: -6rem;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('../../images/main-bg_primary.jpg') center/cover;
    display: grid;
    place-items: center;
    color: $clr-white;

    &__container {
        width: 90vw;
        height: 10rem;
        max-width: $max-width;
    }

    &__title {
        // font-weight: bold;
    }

    &__subtitle {
        text-transform: none;
        font-style: italic;
        font-family: $ff-primary;
    }
}