// Hero
.hero {
    min-height: 100vh;
    margin-top: -6rem;
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url('../../dist/images/main-bg_primary.jpg') center/cover;
    display: grid;
    place-items: center;
    color: $clr-white;

    &__container {
        width: 90vw;
        height: 10rem;
        max-width: $max-width;
    }

    // &__title {}

    &__subtitle {
        text-transform: none;
        font-style: italic;
        font-family: $ff-primary;

        @include breakpoint-up(large) {
            margin-top: 1rem;
        }
    }

    &__btn {
        background: transparent;
        color: $clr-white;
        border-radius: $radius;
        padding: 0.375rem 0.75rem;
        text-transform: uppercase;
        letter-spacing: $spacing;
        display: inline-block;
        transition: $transition;
        border: 1px solid $clr-primary-1;
        cursor: pointer;
        margin-top: 2rem;

        &:hover {
            background: $clr-white;
            color: $clr-grey-1;
            border-color: transparent;
        }
    }


}

// Featured Products

.featured {

    .btn {
        display: block;
        width: 11rem;
        margin: 0 auto;
        text-align: center;
    }
}